<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clanlist</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-right: 5px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Clan</th>
        <th>Leaves</th>
    </tr>
    </thead>
    <tr>
        <th>Total</th>
        <th th:text="${total}">total</th>
    </tr>
    <tr th:each="clan : ${clans}">
        <!--Exclude "Total"-->
        <td><a target="_blank"
               th:href="@{https://wot-life.com/eu/clan/{clanTag}(clanTag=${clan.key})}"
               th:text="${clan.key}">clanTag</a></td>
        <td th:text="${clan.value}">leaves</td>
    </tr>
</table>
</body>
</html>