<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playerlist</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-right: 5px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Wn8 Overall</th>
        <th>Wn8 Recent</th>
        <th>Battles Overall</th>
        <th>Battles Recent</th>
        <th>Clan</th>
    </tr>
    </thead>
    <tr th:each="player : ${players}">
        <td><a target="_blank"
               th:href="@{https://wot-life.com/eu/player/{name}(name=${player.name})}"
               th:text="${player.name}">name</a></td>
        <td th:text="${player.wn8_overall}">wn8_Overall</td>
        <td th:text="${player.wn8_30d}">wn8_30d</td>
        <td th:text="${player.battles_overall}">battles_Overall</td>
        <td th:text="${player.battles_30d}">battles_30d</td>
        <td><a target="_blank"
               th:href="@{https://wot-life.com/eu/clan/{clanTag}(clanTag=${player.clanTag})}"
               th:text="${player.clanTag}">clantag</a></td>
    </tr>
</table>
</body>
</html>